/* ////// HEADER ////// */


.header {
    width: 100%;

    position: fixed;
    top:0;
    z-index: 99;
}

.logo {
    position: fixed;
    top: 0.2rem;
    right: 3.2rem;
    letter-spacing: 0.08rem;
    font-size: 1.2rem;
}

.logo p::after {
    content: '}';
    position: fixed;
    right: 1.9rem;
    transform: scale(2,2.5);
    top: 2.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.logo p::before {
    content: '{';
    position: fixed;
    right: 14.2rem;
    transform: scale(2, 2.5);
    top: 2.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.logo span {
    text-transform: uppercase;
    letter-spacing: normal;
}

.navBtn {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 1.8rem;
    left: 3rem;
    border-radius: 100%;
    border: solid 4px white;
    background-color: darkred;
    cursor: pointer;
    z-index: 99;
}

.glow-wrapper {
    display: none;
    width: 36px;
    height: 40px;
    position: fixed;
    border-radius: 100%;
    top: 3.2rem;
    left: 3rem;
    transform: rotate(240deg);
    animation: move-glow 0.8s forwards;
    animation-direction: normal;
    z-index: -2;
    transition: ease-in-out;
    margin-top: -6px;
}

@keyframes move-glow {
    from {
      transform: rotate(240deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes move-glow2 {
    from {
      transform: rotate(360deg);
    }
    
    to {
      transform: rotate(240deg);
    }
  }

.glow {
    /* cursor: pointer; */
    position: fixed;
    top: 1.5rem;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: darkred;
    z-index: 99;
    border: solid 2px white;
    left: 2.1rem;
    animation: pulseGlow 1.2s linear forwards;
    transition: ease-in-out 0.3s;
}

@keyframes pulseGlow {
    0% {width: 14px; height: 14px; background-color: darkred;}
    55% {width: 16px; height: 16px; background-color: darkorange;}
    100% {width: 13px; height: 13px; background-color: orange;};
}


.outGlow {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: darkorange;
}

.menu-list {
    display: none;
    transition: ease-in-out 0.5s;
    position: fixed;
    animation: fadeInNav;
    animation-duration: 0.5s;
    list-style-type: none;
    margin-left: 7rem;
    margin-top: 2rem;
}

@keyframes fadeInNav {
    0% {opacity: 0; margin-left: 0rem;}
    60% {opacity: 20%; margin-left: 3.3;}
    100% {opacity: 1; margin-left: 5rem;}
}

@keyframes fadeOutNav {
    0% {opacity: 1; margin-left: 5rem;}
    60% {opacity: 20%;}
    100% {opacity: 0; margin-left: 0rem;}


}

.open {
    display: flex;    
}

.close {
    animation-name: fadeOutNav;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

li {
    margin-right: 1rem;
}

a {
    font-family: open-sans;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

a:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
