
/* //// LANDSCAPE //// */


#home {
    /* background: linear-gradient(.5turn,rgb(253, 85, 63), rgb(247 149 69), var(--happy-blue)); */
    background: linear-gradient(.5turn,#ff5849,#FF6F61, rgb(246, 139, 51), var(--happy-blue));
    height: 110vh;
    margin: 0;
}

#title-main {
    stroke-linecap: square;
    fill-opacity: 0;
    transition: fill-opacity 1s;
    z-index: 2;
}

#title-main.finished {
    fill-opacity: 1;
    transition: fill-opacity 1s;
}

#title-main, object {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 35vh;
    left: 16vw;
    width: 68vw;
}

.hello-2 {
    fill: white;
    animation-name: fillOpacity;
    animation-duration: 8.2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes fillOpacity {
    20% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}

.hide {
    opacity: 0;
}

.landscape {
    width: 100vw;
}

.landscape>img {
    position: fixed;
}

.trees-1 {
    width: 112vw;
    left: -1em;
    top: 64vh;
    z-index: 4;
}

.trees-mobile {
    display: none;
    z-index: 4;
}

#m1 {
    width: 130vw;
    left: 0;
    bottom: 0;
    height: 40vh;
    z-index: 3;
}

#m2 {
    width: 100vw;
    left:-20rem;
    bottom: 0;
    height: 36vh;
    z-index: 2;
}

#m3 {
    width: 140vw;
    left: -6rem;
    bottom: 0;
    height: 61vh;
    z-index: 1;
}

#m4 {
    width: 140vw;
    left:0;
    height: 45vh;
    z-index: 2;
}

.moon-light {
    position: fixed;
    right: 4rem;
    z-index: -5;
}

.moon {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(orange, white);
    border-radius: 100%;
    position: fixed;
    right: 20%;
    z-index: 0;
    top: 20vh;
}


/* CLOUDS  */



.cloud {
    position: fixed;
    z-index: 0;
}

.cloud.left1 {
    left:-18px;
    width: 17vw;
}

.cloud.left2 {
    top: 18rem;
    left:-10px;
    width: 20vw;
}

.cloud.center {
    left: 140px;
    top: 13rem;
    width: 19vw;
}

.cloud.right1 {
    right: -14px;
    width: 22vw;
    top:12rem;
}

.cloud.right2 {
    right: -20px;
    width: 17vw;
    top:7rem;
}




@keyframes cloudsIdle {
    0% {
        left: -18px;
    }
    50% {
        left: 400px;
    }
    100% {
        left: 800px;
    }
}

