
/* // FONTS // */

@font-face {
    font-family: cyberpunk;
    src: url(./assets/fonts/cyberdyne/cyberdyne.ttf);
  }

@font-face {
    font-family: cyber2;
    src: url(./assets/fonts/cyberdyne/cyberdynecond.ttf);
}

@font-face {
    font-family: arcade;
    src: url(./assets/fonts/ArcadeClassic.ttf);
}

@font-face {
    font-family: pixel;
    src: url(./assets/fonts/pixel/Pixel\ Tandy.otf);
}

@font-face {
    font-family: open-sans;
    src: url(./assets/fonts/OpenSans-VariableFont_wdth.ttf);
}




/* VARIABLES CSS  */





/* MAIN CSS  */



html {
	scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: linear-gradient(.5turn,#FD553F, #6F489E, #65C7EB);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    font-family: open-sans;
}

.main {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 99;
}



/* ////// HEADER ////// */



.logo {
    position: fixed;
    top: 0.2rem;
    right: 3.2rem;
    letter-spacing: 0.08rem;
    font-size: 1.2rem;
}

.logo p::after {
    content: '}';
    position: fixed;
    right: 1.9rem;
    transform: scale(2,2.5);
    top: 2.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.logo p::before {
    content: '{';
    position: fixed;
    right: 14.2rem;
    transform: scale(2, 2.5);
    top: 2.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.logo span {
    text-transform: uppercase;
    letter-spacing: normal;
}

.navBtn {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 1.8rem;
    left: 3rem;
    border-radius: 100%;
    border: solid 4px white;
    background-color: darkred;
    cursor: pointer;
    z-index: 99;
}

.glow-wrapper {
    display: none;
    width: 36px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    top: 3.2rem;
    left: 3rem;
    transform: rotate(240deg);
    animation: move-glow 0.8s forwards;
    animation-direction: normal;
    z-index: -2;
    transition: ease-in-out;
    margin-top: -6px;
}

@keyframes move-glow {
    from {
      transform: rotate(240deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes move-glow2 {
    from {
      transform: rotate(360deg);
    }
    
    to {
      transform: rotate(240deg);
    }
  }

.glow {
    /* cursor: pointer; */
    position: fixed;
    top: 1.5rem;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: darkred;
    z-index: 99;
    border: solid 2px white;
    left: 2.1rem;
    animation: pulseGlow 1.2s linear forwards;
    transition: ease-in-out 0.3s;
}

@keyframes pulseGlow {
    0% {width: 14px; height: 14px; background-color: darkred;}
    55% {width: 16px; height: 16px; background-color: darkorange;}
    100% {width: 13px; height: 13px; background-color: orange;};
}


.outGlow {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: darkorange;
}

.menu-list {
    display: none;
    transition: ease-in-out 0.5s;
    animation: fadeInNav;
    animation-duration: 0.5s;
    list-style-type: none;
    margin-left: 5rem;
    margin-top: 0rem;
}

@keyframes fadeInNav {
    0% {opacity: 0; margin-left: 0rem;}
    60% {opacity: 20%; margin-left: 3.3;}
    100% {opacity: 1; margin-left: 5rem;}
}

@keyframes fadeOutNav {
    0% {opacity: 1; margin-left: 5rem;}
    60% {opacity: 20%;}
    100% {opacity: 0; margin-left: 0rem;}


}

.open {
    display: flex;    
}

.close {
    animation-name: fadeOutNav;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

li {
    margin-right: 1rem;
}

a {
    font-family: open-sans;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

a:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



/* CONTAINER AND BLOCK  */



.container {
    text-align: center;
    width: 100%;
    height: 600px;
    margin: auto;
    margin-bottom: 8rem;
    margin-top: 7rem;
}

.sun {
    border-radius: 100%;
    margin-top: 0.7rem;
    background: linear-gradient(to bottom, orange, salmon);
    max-width: 60px;
    height: 60px;
    margin-left: 72%;
    box-shadow: 0rem 0rem 4rem darkorange;
}

.block2 {
    margin-top: 6.2rem;
    background: linear-gradient(to bottom, darkred, transparent);
    min-width: 100%;
    height: 280px;
    display: none;
    z-index: -5;
}

.title {
    font-family: open-sans;
    color: white;
    font-size: 3rem;
    text-align: center;
    transition: margin-top 0.3s;
    display: block;
}

#title-main {
    display: flex;
    justify-content: center;
    height: 420px;
    position: fixed;
    top: 6rem;
    left: 9rem;
    width: 75vw;
}

#title-main {
    stroke-linecap: square;
    fill-opacity: 0;
    transition: fill-opacity 1s;
}

#title-main.finished {
    fill-opacity: 1;
}

.space {
    width: 2rem;
}



/* PORTFOLIO */



#portfolio {
    margin-top: 45rem;
}


.card {
    background-color: white;
    margin: 5rem auto;
    position: absolute;
    cursor: pointer;
    display: none;
    transition: opacity 0.5s ease-in-out;
    top:5rem;
}

@keyframes fadeInCard {
    0% {opacity: 0;}
    100% {opacity: 0.6;}
}

.card.current {
    width: 200px;
    height: 200px;
    margin-top: 6rem;
    left: 300px;
    top: 0rem;
    opacity: 1;
    display: block;
    transition-property: width, height, left, top, opacity;
    transition-duration: 0.3s;
}


.card.current>.title {
    margin-top: 7.5rem;
}

.card.prev, .card.next {
    opacity: 60%;
    width: 120px;
    height: 120px;
    display: block;
    transition-property: width, height, left, top, opacity;
    transition-duration: 0.3s;
    animation-name: fadeInCard;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.card.prev {
    left: 120px;
}

.card.next {
    left: 560px;
}

.arrow {
    position: absolute;
    top: 11rem;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.arrow.left {
    left: 2rem;
}

.arrow.right {
    right: 2rem;
}

.gallery {
    width: 800px;
    height: 400px;
    margin: 4rem auto;
    position: relative;
}




/* Contact FORM  */




.contact-form {
    display: grid;
    width: 400px;
    text-align: left;
    margin: 2rem auto;
}


.contact-form input, select, textarea {
    border: none;
    border-radius: 6px;
    height: 1.4rem;
    padding: 4px;
    font-family: open-sans;
}

select {
    height: 1.8rem;
}

label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

input[type='submit'] {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin-top: 2rem;
    border: solid 2px white;
    background-color: transparent;
    height: 2.3rem;
}

input[type='submit']:hover {
    background-color: white;
    color: black;
}



/* // PARALLAX // */



/* LANDSCAPE */



.landscape {
    width: 100vw;
}

.landscape>img {
    position: fixed;
}

.trees-1 {
    width: 112vw;
    left: -1em;
    top: 440px;
}

.trees-mobile {
    display: none;
}

#m1 {
    width: 130vw;
    left: 0;
    bottom: 0;
    height: 320px;
}

#m2 {
    width: 100vw;
    left:-20rem;
    bottom: 0;
    height: 280px;
}

#m3 {
    width: 140vw;
    left: -6rem;
    bottom: 0;
    height: 470px;
    z-index: -2;
}

#m4 {
    width: 140vw;
    left:0;
    bottom: 0;
    height: 360px;
}

.moon-light {
    position: fixed;
    right: 4rem;
    z-index: -5;
}

.moon {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(orange, white);
    border-radius: 100%;
    position: fixed;
    top: 6rem;
    right: 20%;
    z-index: -99;
}


/* BIRDS  */


.birds-container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35rem;
	background: transparent ;
	padding: 2rem;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 0.7s;
    animation-delay: -0.5s;		
}

.bird--two {
    animation-duration: 0.6s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 0.8s;
    animation-delay: -0.5s;
}


.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
	
.bird-container--one{
    animation-duration: 12s;
    animation-delay: 0;
}

.bird-container--two {
    animation-duration: 13s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 12.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    animation-duration: 13s;
    animation-delay: 10.25s;
}
	

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(3vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(6vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}


/* CLOUDS  */



.cloud {
    position: fixed;
    z-index: -98;
}

.cloud.left1 {
    left:-18px;
    width: 17vw;
}

.cloud.left2 {
    top: 18rem;
    left:-10px;
    width: 20vw;
}

.cloud.center {
    left: 140px;
    top: 13rem;
    width: 19vw;
}

.cloud.right1 {
    right: -14px;
    width: 22vw;
    top:12rem;
}

.cloud.right2 {
    right: -20px;
    width: 17vw;
    top:7rem;
}


@keyframes cloudsIdle {
    0% {
        left: -18px;
    }
    50% {
        left: 400px;
    }
    100% {
        left: 800px;
    }
}


/* ////// FOOTER ////// */



.copyright {
    margin-top: 5rem;
}

.social {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}



/* ////////// MEDIA QUERIES ////////// */


/* 
mobile -- width: 360px 
tablet -- width: 768px
labtop -- width: 1280px height: 800px
home -- width: 2048px height: 1152px
larger -- 2560px 
*/


@media (min-width: 359px) and (max-width: 768px) {

    .logo {
        display: none;
    }

    .navBtn {
        top: 2.8vh;
        left: 5vw;
    }

    .menu-list {
        margin-left: 2.2rem;
    }

    a {
        font-size: 1rem;
    }

    @keyframes fadeInNav {
        0% {opacity: 0; margin-left: 0rem;}
        60% {opacity: 20%; margin-left: 2rem;}
        100% {opacity: 1; margin-left: 2.2rem;}
    }
    
    @keyframes fadeOutNav {
        0% {opacity: 1; margin-left: 2.2rem;}
        60% {opacity: 20%;}
        100% {opacity: 0; margin-left: 0rem;}
    
    
    }

    .title {
        font-size: 2rem;
    }

    #title-main {
        left: 7vw;
        width: 86vw;
    }

    #portfolio {
        width: 320px;
        display: none;
    }

    .contact-form {
        width: 320px;
    }

    .moon {
        width: 2.7rem;
        height: 2.7rem;
    }

    .cloud.center {
        left: 40px;
        top: 10rem;
        width: 19vw;
    }

    .trees-mobile {
        display: block;
        width: 112vw;
        left: -1em;
        filter: drop-shadow(-2.5rem 3rem 40px #19113F);
        width: 140vw;
        top: 68vh;
    }

    .trees-1 {
        display: none;
    }
    
    #m1 {
        height: 440px;
    }

    #m2 {
        height: 380px;
        left: -7rem;
    }

    #m3 {
        height: 530px;
        left: 0rem;
        width: 120vw;
    }

    #m4 {
        height: 540px;
        left: -0rem;
    }
}


@media (min-width: 359px) and (max-width: 768px) and (min-height: 630px) {
    #title-main {
        top: 5vh;
    }

    #m1 {
        height: 330px;
    }

    #m2 {
        height: 300px;
        left: -7rem;
    }

    #m3 {
        height: 430px;
        left: 0rem;
        width: 120vw;
    }

    #m4 {
        height: 370px;
        left: -0rem;
    }
}

@media (min-width: 359px) and (max-width: 768px) and (min-height: 741px) and (max-height: 840px) {
    .trees-mobile {
        top: 72vh;
    }
}

@media (min-width: 359px) and (max-width: 768px) and (min-height: 841px) and (max-height: 1040px) {

    #title-main {
        top: 10vh
    }

    .trees-mobile {
        top: 76vh;
    }
}